@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 300px;
}

.img-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px;
  text-transform: uppercase;
}

.img-container img {
  width: 100%;
  z-index: -2;
}

.carousel-btn {
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 3em;
  display: flex;
}

.carousel-btn .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  letter-spacing: 1px;
  text-align: justify;
}

.content section {
  background-color: #d2d2d2;
  flex: 3;
  margin-right: 10px;
  padding: 20px;
  height: 350px;
}

.content aside {
  background-color: #cab3b3;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.like-btn {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  margin: 10px;
}

.like-btn i {
  background: transparent;
  font-size: 24px;
  margin: 10px;
}

.like-btn:focus {
  outline: 0;
}

.like-btn:active {
  transform: scale(0.98);
}

.like-btn.active i {
  color: blue;
}

aside p button {
  background-color: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
}

aside p button:active {
  transform: scale(0.98);
}

aside p button:focus {
  outline: 0;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  color: red;
}

.content a:focus {
  color: springgreen;
}

.blink-me {
  font-family: inherit;
  font-size: 18px;
  text-transform: uppercase;
  animation: blinker 1s linear infinite;
  display: none;
}

.blink-me.active {
  display: block;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
